#container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px 40px;
    background-color: #e5cfcf;
    border-radius: 10px;
  }
  
  h1 {
      font-family: Helvetica, sans-serif;
      text-decoration: underline;
      font-weight: 700;
      color: #800505d2;
      font-size: 2em;
      text-align: center;
      margin-bottom: 20px;
    }
  
  form {
    display: flex;
    flex-direction: column;
    margin-bottom: 17px;
  }
  
  label {
    font-weight: bold;
    color: rgba(3, 22, 116, 0.957);
  }
  
.opt  {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 2px;
  }


  input[type="text"],
  input[type="number"],
  input[type="date"],
  input[type="email"] {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  input[type="submit"] {
    background-color: #a30101;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    padding: 15px;
    border-radius: 4px;
    border: 1px solid #ccc;  
    font-size: larger;
    font-family: Georgia, 'Times New Roman', Times, serif;  
  }
  
  input[type="submit"]:hover {
    background-color: #47934a;
  }
  
  #expenses-list {
    border: 1px solid #ccc;
    padding: 10px;
    max-height: 400px;
    overflow-y: auto;
  }
  
  .expense-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .expense-item span {
    margin-right: 10px;
  }
  
  .expense-item .delete-btn {
    background-color: #f44336;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 5px;
  }
  
  .expense-item .delete-btn:hover {
    background-color: #d32f2f;
  }
